.slider {
  text-align: center;
  position: relative;
  width: 100%;
}

.slider__price-wrap {
  position: relative;
}

.slider__price-item {

  &--js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    border-right: none;

    &:last-child {
      border-right: 2px solid @gray-medium;
    }
  }
}

.slider__price-item--active {
    position: relative;
    z-index: 1;
}

.slider__slide {
  &--js {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 0;
    width: 100%;
  }

  &--active {
    left: 0;
    position: relative;
    z-index: 1;
  }

  &--forward-in {
    z-index: 3;
    left: 0;
    animation: forward-in .7s ease-out;
  }

  &--forward-out {
    z-index: 2;
    left: -100%;
    animation: forward-out .7s ease-out;
  }

  &--backward-in {
    z-index: 3;
    left: 0;
    animation: backward-in .7s ease-out;
  }

  &--backward-out {
    z-index: 2;
    left: 100%;
    animation: backward-out .7s ease-out;
  }

  @keyframes forward-in {
    from { left: 100%; }
    to   { left: 0; }
  }
  @keyframes forward-out {
    from { left: 0; }
    to   { left: -100%; }
  }
   @keyframes backward-in {
    from { left: -100%; }
    to   { left: 0; }
  }
  @keyframes backward-out {
    from { left: 0; }
    to   { left: 100%; }
  }
}

.slider__toggle {
  position: relative;
  z-index: 3;
  font-size: 0;

  @media @desktop {
    display: none;
  }
}

.slider__price-toggle {
  @media @tablet {
    display: none;
  }
}

.slider__review-toggle {
  display: none;

  @media @desktop {
    display: block;
    position: absolute;
    top: 43%;
    width: 30px;
    height: 30px;
    border: 2px solid @blue-medium;
    opacity: .3;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 3;
    visibility: hidden;
  }

  &--prev {
    left: 12%;
    border-top: none;
    border-right: none;

    @media @desktop-full {
      left: 18%;
    }

    &--visible {
      visibility: visible;
    }
  }

  &--next {
    right: 12%;
    border-bottom: none;
    border-left: none;

    @media @desktop-full {
      right: 18%;
    }

    &--visible {
      visibility: visible;
    }
  }
}

.slider__button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  margin-right: 20px;
  background: fade(@blue-medium, 30%);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;

  &:active {
    background: fade(@blue-medium, 10%);
  }

  &--active {
    background-color: @white;
    box-shadow: 0 0 0 3px @blue-medium;

    &:hover,
    &:active {
      background: @white;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
