.offer {
  padding: 35px 0 95px;
  text-align: center;
  .sloped();

  @media @tablet {
    padding-top: 45px;
  }
}

.offer__title {
  margin-bottom: 30px;
  font-size: @font-size-big;
  line-height: 30px;
  font-weight: @light;
  color: @blue-medium;

  @media @tablet {
    margin-bottom: 0;
    font-size: @font-size-big_tablet;
    line-height: 50px;
  }

  &:last-child {
    margin-bottom: 0;

    @media @tablet {
      padding: 0 25%;
      margin-bottom: 20px;
    }
  }

}
