.page-header {
  position: relative;
}

// Modifier to be added by JS:
.main-nav--hidden {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.main-nav__menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  padding: 0 6%;
  font-size: 0;
  padding-bottom: 5px;
  background: @blue-medium;

  @media @tablet {
    min-height: 110px;
  }

  // Modifier to be added by JS:
  &--hidden {
    padding-bottom: 0px;
    background: @black-transparent;
    box-shadow: @box-shadow-dark;
  }
}

.main-nav__title {
  width: 74px;
  height: 24px;
  background: url(../img/logo-mobile.png) no-repeat;

  @media @tablet {
    width: 146px;
    height: 40px;
    background: url(../img/logo-tablet.png) no-repeat;
    margin-bottom: 15px;
  }
}

.main-nav__button {
  font-size: 0;
  width: 23px;
  height: 23px;
  background: data-uri('../img/main-nav__button-cross.png') no-repeat;
  background-size: 23px auto;

  // Modifier to be added by JS:
  &--open {
    width: 50px;
    height: 24px;
    background: data-uri('../img/main-nav__button-hamburger.png') no-repeat;
    background-size: 50px auto;
  }
}

.main-nav__list {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid @black;

  // Modifier to be hidden by JS:
  &--hidden {
    display: none;
  }
}

.main-nav__item {
  background: @blue-medium;
  box-shadow: @box-shadow-dark, @box-shadow-light;
}

.main-nav__link {
  display: block;
  font-size: @font-size-medium;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 65px;
  color: @white;
}
