.review {
  padding: 45px 20px 100px;
  background: linear-gradient(-5deg, @gray-light 65px, @gray-light-transparent 65px, @gray-light-transparent 66px, transparent 66px);
}

.review__item {
  padding-bottom: 30px;
  line-height: 30px;
}

.review__header {
  margin-bottom: 15px;
  line-height: 25px;
  font-size: @font-size-medium;
  font-weight: bold;
}

.review__text {
  font-size: @font-size-base;
  font-weight: normal;
  color: @blue-medium;
}
